<!DOCTYPE html>
<html>
  <head>
    <title>Metric/Imperial Converter</title>
    <meta name="description" content="An example of the Free Code Camp Metric/Imperial Converter Project">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./public/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1>Metric/Imperial Converter</h1>
    </header>
    <hr>
    <section id="usage" class="usage">
      <p class="bigger">How to use:</p>
      <p>You can use our API or our below form to convert.</p>
      <p>You can convert <code>miles(mi) - kilometers(km)</code>, <code>gallons(gal) - liters(L)</code> and <code>pounds(lbs) - kilograms(kg)</code>.</p>
      <p class="bigger">Example usage using API:</p>
      <ul>
        <li><code>/api/convert?input=4gal</code></li>
        <li><code>/api/convert?input=1/2km</code></li>
        <li><code>/api/convert?input=5.4/3lbs</code></li>
        <li><code>/api/convert?input=kg</code></li>
      </ul>
      <p class="bigger">Example return</p>
      <code>{ initNum: 3.1, initUnit: 'mi', returnNum: 4.98895, returnUnit: 'km', string: '3.1 miles converts to 4.98895 kilometers' }</code>
    </section>
    <section id="front-end-using" class="using">
      <div id='testui' >
        <p class="bigger">Direct Usage</p>
        <form id="convertForm" class="border">
          <input type="text" id="convertField" name="input" placeholder="3.1mi" size="30">
          <input id="convert" type="submit" value='Convert!'>
        </form>
        <p id='result'></p>
        <p class="code"><code id='jsonResult'></code></p>
      </div>
    </section>
    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script>
      $(function() {
        $('#convertForm').submit(function(event) {
          event.preventDefault();
          $.ajax({
            url: '/api/convert',
            type: 'get',
            data: $('#convertForm').serialize(),
            success: function(data) {
              $('#result').text(data.string || data);
              $('#jsonResult').text(JSON.stringify(data));
            }
          });
        });
      });
   </script>
  </body>
</html>
